body {
    position: relative;
    background-color: #EDEDED;
}

body > * {
    margin: 50px 17%;
    margin-bottom: 500pt;
}

header {
    margin: 0; /* overrides the margin for body child elements */
    background-color: #4C8F96;
    height: 150px;
    width: 100%;
}

header div {
    display: flex;
    flex-direction: column-reverse;
    margin-right: 17%;

    position: relative;
    left: 65%;
    top: 5%;
    width: 140pt;
    
}

header a {
    background-color: #1B2130;
    color: white;
    text-decoration: none; /* by default, links are underlined, so need to specify none if you don't want links underlined */

    margin: 0px 0px 10px 20%;
    padding: 5px 15px;
    border-radius: 5px;

    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200px;
    font-style: normal;
    font-variation-settings:
      "slnt" 0;
    text-transform: uppercase;
}

#contact {
    background-color: #335F64;
    margin-right: 0;
}

#head {
    background-color: #222842;
    color: white;
    width: 250px;
    height: 120px;

    text-align: center;
    align-content: center;

    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 4px;
    font-size: 400%;

    position: absolute;

    /* note that there is a margin, so not actually 0px from the top of its parent element*/
    top: 0px; 
}

img {
    max-height: 100%;
}

footer {
    width: 100%;
    height: 120px;
    margin: 0;
    position: relative;

    background-color: #4C8F96;

    text-align: center;
    align-content: center;
    color: white;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
      "width" 100;
    font-size: 75%;
}


footer div {
    background-color: #387A82;

    position: absolute;
    right: 2%;
    top: 27%;
    bottom: 20%;

    padding: 20px;
}

footer img {
    margin: 0 5px;
}

h1 {
    font-family: "Cantarell", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 18pt;

    color: #2F394E;
}

p {
    font-family: sans-serif;
    line-height: 17pt;
    color: #464646;
    font-size: 10pt;
    /* background-color:pink; */
    margin: 0;
    
}

.address {
    font-size: 11pt;
    line-height: 19pt;
}

main div {
    margin-top: 25pt;
}

main a:visited {
    color: #464646;
}

header a:hover {
    color: lightgrey;
}

/* Medium and up (Tablets) */
@media (min-width: 750px) {
    header div {
        left: 45%;
        width: 200pt;
    }
}

/* Large and up (Desktops) */
@media (min-width: 1000px) {

    header div {
        flex-direction: row-reverse;

        left: 47.5%;
        top: 0%;
        width: 400pt;
    }


    header a {
        margin: 80px 30px 0 0px;
        padding: 5px 15px;
    }

    #contact {
        margin-right: 0;
    }


    footer div {
        right: 17%;
    }

}