body {
    position: relative;
    background-color: #EDEDED;
}

body > * {
    margin: 50px 17%;
}

main {
    margin-bottom: 80pt;
}

header {
    margin: 0; /* overrides the margin for body child elements */
    background-color: #4C8F96;
    height: 150px;
    width: 100%;
}

header div {
    display: flex;
    flex-direction: row-reverse;
    margin-right: 17%;
    /* background-color: pink; */
}

header a {
    background-color: #1B2130;
    color: white;
    text-decoration: none; /* by default, links are underlined, so need to specify none if you don't want links underlined */
    margin: 80px 30px 0 0px;
    padding: 5px 15px;
    border-radius: 5px;

    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200px;
    font-style: normal;
    font-variation-settings:
      "slnt" 0;
    text-transform: uppercase;
}

header a:hover {
    color: lightgrey;
}

#hairstyles {
    background-color: #335F64;
}

#head {
    background-color: #222842;
    color: white;
    width: 250px;
    height: 120px;

    text-align: center;
    align-content: center;

    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 4px;
    font-size: 400%;

    position: absolute;

    /* note that there is a margin, so not actually 0px from the top of its parent element*/
    top: 0px; 
}

img {
    max-height: 100%;
}

footer {
    width: 100%;
    height: 120px;
    margin: 0;
    position: relative;

    background-color: #4C8F96;

    text-align: center;
    align-content: center;
    color: white;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
      "width" 100;
    font-size: 75%;
}


footer div {
    background-color: #387A82;
    position: absolute;
    top: 27%;
    bottom: 20%;
    right: 17%;

    padding: 20px;
}

footer img {
    margin: 0 5px;
}

#hairstyle-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 2pt;
    row-gap: 15pt;
}

#hairstyle-container div {
    height: 130pt;
    width: 160pt;

    /* For making the image show up correctly */
    background-size: cover;
    background-position: center;

    border: 4pt solid rgb(95,179,189);
}

#img1 {
    background-image: url("assets/pic1.jpg");
}

#img2 {
    background-image: url("assets/pic2.jpg");
}

#img3 {
    background-image: url("assets/pic3.jpg");
}

#img4 {
    background-image: url("assets/pic4.jpg");
}

#img5 {
    background-image: url("assets/pic5.jpg");
}

#img6 {
    background-image: url("assets/pic6.jpg");
}

#img7 {
    background-image: url("assets/pic7.jpg");
}

#img8 {
    background-image: url("assets/pic8.jpg");
}

#img9 {
    background-image: url("assets/pic9.jpg");
}

#img10 {
    background-image: url("assets/pic10.jpg");
}

#img11 {
    background-image: url("assets/pic11.jpg");
}

#img12 {
    background-image: url("assets/pic12.jpg");
}

#img13 {
    background-image: url("assets/pic13.jpg");
}

#img14 {
    background-image: url("assets/pic14.jpg");
}

#img15 {
    background-image: url("assets/pic15.jpg");
}

#img16 {
    background-image: url("assets/pic16.jpg");
}

#hairstyle-container div:hover {
    filter: brightness(110%);
}

h1 {
    font-family: "Cantarell", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 18pt;

    color: #2F394E;
    margin-bottom: 20pt;
}